.mint_button{
    background-color:#D6517D !important;
    border-radius:5px;
    box-shadow:0 2px 2px 1px #0f0f0f;
    color:white;
    cursor:pointer;
    font-family:inherit;
    padding:15px;
    margin-top:10px;
}
